@font-face {
  font-family: 'bisco-tracks-font';
  src: url('fonts/bisco-tracks-font.eot?42390516');
  src: url('fonts/bisco-tracks-font.eot?42390516#iefix') format('embedded-opentype'),
       url('fonts/bisco-tracks-font.woff?42390516') format('woff'),
       url('fonts/bisco-tracks-font.ttf?42390516') format('truetype'),
       url('fonts/bisco-tracks-font.svg?42390516#bisco-tracks-font') format('svg');
  font-weight: normal;
  font-style: normal;
}